<%- include('../partials/header') %>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>All Available Trains</h2>
    <a href="/train/new" class="btn btn-primary">+ Add New Train</a>
</div>
<hr>

<div class="train-list">
    <% for(let train of trains) { %>
        <div class="train-item">
            <h3><%= train.trainName %></h3>
            <p><strong>Departure Time:</strong> <%= train.time %></p>
            <p><strong>Seats Available:</strong> <%= train.seatsLeft %></p>
            <a href="/train/<%= train._id %>" class="btn btn-primary" style="font-size: 0.8rem;">View Details</a>
        </div>
    <% } %>
</div>

<%- include('../partials/footer') %>
